{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customize Template For Job Data Aggregation</title>
    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">
    <link href='{% static "css/nice-select.css" %}' rel="stylesheet">
    <link href='{% static "css/style.css" %}' rel="stylesheet">
    <link href='{% static "css/responsive.css" %}' rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>
<div class="pull-right">
        <ul class="nav navbar-nav">
            <li><button type="submit" class="btn navbar-btn btn-danger" onClick="location.href='/home/addjobinscheduler'" name="scheduler" id="scheduler"  value="scheduler">Go to Add Scheduler</button></li>
            <li><button type="submit" class="btn navbar-btn btn-danger" onClick="location.href='/logout/'" name="logout" id="logout"  value="Log Out">Log Out</button></li>
        </ul>
</div>

<div class="page-header">

    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <h3>New Job Aggregator Template</h3>

                </div>
            </div>
        </div>
    </div>
</div>
<!--Page Header End-->
<div class="form-area">
    <div class="container">
        <row>
            <div class="col-md-9">
                <form  method="post" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.help_text }}
                        </div>

                        <div class="form-group has-errors text-danger small">
                            {{field.errors}}
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-primary" onClick="location.href='/home/addparserjob'" name="button">Save</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="data-control">
                                <a href="{% url 'addparserjob' %}">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </row>
    </div>
</div>



<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <h3>List of Job Aggregator Template</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="data-table">
                <div class="row">
                    <div class="col-sm-4">
                        {#                     <div class="data-visible">#}
                        {#                          <select>#}
                        {#                            <option value="1">Display 20</option>#}
                        {#                            <option value="2">Display 30</option>#}
                        {#                            <option value="3">Display 40</option>#}
                        {#                            <option value="4">Display 50</option>#}
                        {#                          </select>#}
                        {#                     </div>#}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive text-center table-color">
                            <table class="table table-bordered">
                                <thead class="text-center">
                                <tr>
                                    <th>Site Name</th>
                                    <th>Site URL</th>
                                    <th>Create Date</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for jobParser in jobParserListJson %}
                                    <tr>
                                        <td>{{ jobParser.siteName}}</td>
                                        <td>{{ jobParser.siteURL}}</td>
                                        <td>{{ jobParser.created }}</td>
                                        <td><a href="/home/deletejobparser/{{ jobParser.jobId }}" >Delete</a>
                                    </tr>

                                {% empty %}
                                    Nothing found
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src='{% static "js/jquery.nice-select.min.js" %}'></script>
<script src='{% static "js/main.js" %}'></script>
</body>
</html>
