<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1>ADD new Task</h1>
            <div style="width:30%">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                    <div class="form-group has-errors text-danger small">
                        {{error}}
                    </div>
                    {% endfor %}
                    {% for field in form %}
                    <div class="form-group has-errors text-danger small">
                        {{field.errors}}
                    </div>

                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field.errors }}
                        {{ field }}
                        {{ field.help_text }}
                    </div>
                    {% endfor %}
                    <button class="btn btn-primary" style="width:100%" type="submit">Add</button>
                </form>
            </div>
            <br>
            <br>
            <br>
            <h2>Running Tasks</h2>
            <table class="table">
                <thead>
                  <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                {% for job in jobs %}
                    <tr>
                        <td>{{ job.name }}</td>
                        <td>{{ job.name }}</td>
                        <td>{{ job.name }}</td>
                    </tr>

                {% endfor %}

                </tbody>
             </table>

        </div>
    </body>
</html>